html * {
  margin: 0;
}

/* colors: 
orange: #F36700
brown: #8c3e09
grey: #323232 */

.header {
  display: flex;
  background-image: linear-gradient(to right, #8c3e09, #F36700);
  /* background-color: #F36700; */
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}


.title {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.body {
  display: flex;
  width: 100vw;
  /* background-color: linear-gradient(to right, #323232 , black); */
  background-image: linear-gradient(to right, black, #323232);
  /* height: 70vh; */
}

.activity-link-wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.activity-link {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.picture-text {
  position: absolute;
  top: 30px;
  left: 92px;
  /* transform: rotate(-90deg) */
}

.activity-link img {
  height: 60vh;
  margin-bottom: 15px;
  margin-top: 15px;
}

.activity-link a {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  background-image: linear-gradient(to right, #8c3e09, #F36700);
  justify-content: center;
  align-items: center;
  width: 100vw;          
}

.footer-tag {
  color: white;
}

.social-media-links-wrapper {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-around;
  width: 25vw;
}

.social-media-links-wrapper a {
  font-size: 2.5em;
  color: white;
}