<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>App In A Day</title>
  <script src="https://kit.fontawesome.com/23912d8913.js"></script>

  <link rel="stylesheet" href="../styles/styles.css">


</head>

<body>
  <div class="header">
    <div class="title">
      <h1>Plan Your Next Outing!</h1>
    </div>
    <div class="logout">
      <button class="logout-button">Logout</button>
    </div>
  </div>

  <div class="body">
    <div class="activity-link-wrapper">

      <div class="activity-link">
        <a href="hiking.html">
          <img
            src="https://images.unsplash.com/photo-1516739711484-6f80025660c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"
            alt="Hiking Image">
          <div class='picture-text'>Hiking</div>
        </a>
      </div>
      <div class="activity-link">
        <a href="camping.html">

          <img
            src="https://images.unsplash.com/photo-1537905569824-f89f14cceb68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=347&q=80"
            alt="Camping Image">
          <div class="picture-text">Camping</div>
        </a>
      </div>
      <div class="activity-link">
        <a href="fishing.html">
          <img
            src="https://images.unsplash.com/photo-1571983757398-4bcc2b03ae25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            alt="Fishing Image">
          <div class="picture-text">Fishing</div>
        </a>
      </div>
      <div class="activity-link">
        <a href="beach.html">
          <img
            src="https://images.unsplash.com/photo-1525183995014-bd94c0750cd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
            alt="Beach Image">
          <div class="picture-text">Beach</div>
        </a>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="recommendation">
      <button onclick="window.location.href = 'posts.html';" class="recommend-button">Post A Recommendation</button>
    </div>
    <div class="footer-tag">
      <h1>Share your photos with us on:</h1>
    </div>
    <div class="social-media-links-wrapper">
      <div class="facebook-link">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="instagram-link">
        <a href="#"><i class="fab fa-instagram-square"></i></a>
      </div>
      <div class="twitter-link">
        <a href="#"><i class="fab fa-twitter-square"></i></a>
      </div>
    </div>
  </div>
</body>

</html>