<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>Beach</title>
  <script src="https://kit.fontawesome.com/23912d8913.js"></script>


  <link rel="stylesheet" href="../styles/page-styles.css">


</head>

<body>

  <div class="header">
    <div class="header-wrapper">

      <div class="title">
        <h1>Plan Your Next Outing!</h1>
      </div>
      <div class="logout">
        <button class="logout-button">Logout</button>
      </div>
      <div class="links-wrapper">
        <div class="link">
          <a href="hiking.html">Hiking</a>
        </div>
        <div class="link">
          <a href="camping.html">Camping</a>
        </div>
        <div class="link">
          <a href="fishing.html">Fishing</a>
        </div>
        <div class="link">
          <a href="beach.html">Beach</a>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    I'm in the body
  </div>

  <div class="footer">
    <div class="footer-tag">
      <h1>Share your photos with us on:</h1>
    </div>
    <div class="social-media-links-wrapper">
      <div class="facebook-link">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="instagram-link">
        <a href="#"><i class="fab fa-instagram-square"></i></a>
      </div>
      <div class="twitter-link">
        <a href="#"><i class="fab fa-twitter-square"></i></a>
      </div>
    </div>
  </div>

</body>

</html>